@import "../vars";

header {
	@mixin highShadow {
		box-shadow: 0px $distance/4 $distance/2 var(--shadow);
	}

	width: 100%;
	height: $headerSize;

	padding: 0px;

	background-color: var(--level1-color);
	@include highShadow;

	display: flex;
	flex-direction: row;
	align-items: center;

	position: sticky;
	top: 0px;
	z-index: 10;

	@mixin headerButton {
		margin: 0px;
		padding: $headerSize/8;
		display: inline-block;

		background: none;
		border: none;
		border-radius: $rounding;
		outline: none;

		font-size: $headerSize/4;
		font-weight: bold;
		color: var(--color);
		vertical-align: middle;

		cursor: pointer;

		&:hover {
			background-color: var(--highlight);
		}
	}

	.expand-nav {
		min-width: $headerSize;
		height: $headerSize;
		@include headerButton;
		border-radius: 0px;

		&::before {
			content: "🍔";
		}
	}

	img {
		max-width: $headerSize/2;
		max-height: $headerSize/2;
		margin-left: $distance;
	}

	h1 {
		margin: 0px $distance;
		font-size: $headerSize/2;

		overflow: hidden;
		white-space: nowrap;

		flex-grow: 1;

		position: relative;

		&::after {
			content: "";

			width: $distance;
			height: 100%;
			background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--level1-color));

			position: absolute;
			right: 0px;
		}
	}

	.expand-more {
		min-width: $headerSize;
		height: $headerSize;
		@include headerButton;
		border-radius: 0px;
	
		&::before {
			content: "…";
		}
	}

	nav {
		background-color: var(--level1-color);
		border-top: 1px solid var(--border);
		@include highShadow;
		
		display: none;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-end;
		flex-wrap: wrap;

		position: absolute;
		top: $headerSize;
		left: 0px;
		right: 0px;

		button, a {
			@include headerButton;
			padding-right: $distance;

			margin-right: $distance/2;
			&:last-child {
				margin-right: 0px;
			}
		}
		a {
			line-height: $distance;
		}

		&.visible {
			display: flex;
		}
	}

	@media (min-width: $bigScreen) {
		padding: 0px $distance;

		.expand-nav, .expand-more {
			display: none;
		}

		nav {
			background-color: unset;
			border-top: unset;
			box-shadow: unset;

			flex-grow: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			position: relative;
			top: unset;
			left: unset;
			right: unset;

			&::before {
				flex-grow: 1;
				content: "";
			}

			button, a {
				padding-right: $headerSize/8;
			}
		}
	}
}