body {
	margin: 0px;
	padding: 0px;

	background-color: var(--background-color);
	color: var(--color);

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}